<div class="bandViewer">
	<div class="image">
		<div><img ng-src="{{band.image}}"/></div>
	</div>
	<div class="bandContent">
		<div class="button" ng-click="toView('description')"><p>Biografía</p></div>
		<div class="button" ng-click="toView('video')"><p>Ver vídeo</p></div>
		<div class="button" ng-click="toView('discography')"><p>Discografía</p></div>
		
	</div>
</div>
<div id="vid" ng-if="view != ''"><p ng-click="close()"><span>X</span></P>
	<iframe id="video" ng-if="view == 'video'" width="auto" height="auto" ng-src="{{band.video | trusted}}" frameborder="0" allowfullscreen preload="auto">
	</iframe>
	<div id="description" ng-if="view == 'description'"><p>{{band.description}}</p></div>
	<div id="disco" ng-if="view == 'discography'">
		<ul id="bioMain"> <h3>Discografía: </h3>
			<li style="list-style: none" ng-repeat="disco in band.disco">{{disco}}</li>
		</ul>
	</div>
</div>
