<div>Contenido de la página</div>
<!--Carrousel-->
<div id="slider">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!--Menú-->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!--Slides-->
		<div class="carousel-inner" role="listbox" ng-repeat="slide in slides">
			<div class="item active">
				<a href="{{slide.url}}">
					<img src="{{slide.image}}" alt="" width="954" height="410">
				</a>
			</div>
		</div>

		<!--Indicators-->
		<a href="#myCarousel" class="left carousel-control" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Siguiente</span>
		</a>
		<a href="#myCarousel" class="right carousel-control" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		</a>
	</div>
</div>