body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
  display: flex;
  flex-direction: column; }
  body header {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    background-color: white;
    color: #df1212; }
  body #container {
    display: flex;
    flex: 1; }
    body #container #menuLat {
      width: 200px; }
      body #container #menuLat ul {
        margin: 0;
        padding: 0;
        text-align: center; }
        body #container #menuLat ul a {
          text-decoration: none;
          color: black; }
          body #container #menuLat ul a li {
            list-style: none;
            border-top: 2px solid grey;
            border-bottom: 1px solid #dde8dd;
            padding: 15px; }
        body #container #menuLat ul li:first-child {
          border-top: none; }
    body #container #mainContain {
      flex: 1;
      background-color: #eee; }
      body #container #mainContain .bandViewer {
        display: flex;
        flex: 1;
        flex-direction: column; }
        body #container #mainContain .bandViewer .bandContent {
          display: flex;
          flex: 1; }
          body #container #mainContain .bandViewer .bandContent .button {
            flex: 1; }
            body #container #mainContain .bandViewer .bandContent .button p {
              background-color: #960000;
              padding: 30px;
              margin: 1px;
              bottom: 0;
              color: white;
              text-align: center;
              cursor: pointer; }
            body #container #mainContain .bandViewer .bandContent .button p:hover {
              background-color: #6e0000; }
      body #container #mainContain #vid {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5); }
        body #container #mainContain #vid p {
          max-height: 3%;
          color: white;
          cursor: pointer;
          text-align: right;
          margin: 10px; }
          body #container #mainContain #vid p span {
            margin-right: 15px; }
        body #container #mainContain #vid #description, body #container #mainContain #vid #image {
          margin: auto; }
        body #container #mainContain #vid #description p, body #container #mainContain #vid #disco {
          width: 50%;
          margin: auto;
          background-color: #3c3c3c;
          color: white;
          padding: 15px;
          text-align: justify; }
        body #container #mainContain #vid iframe {
          display: flex;
          flex: 1; }
  body footer {
    text-align: center;
    font-size: 0.8em;
    padding: 15px;
    background-color: black;
    color: white; }

#disco {
  display: block;
  overflow-x: auto; }
  #disco .bioMain {
    flex-direction: column;
    background-color: white; }
    #disco .bioMain li {
      padding: 3px;
      margin-bottom: 5px;
      list-style: none; }

.image {
  flex: 1;
  margin: auto; }
  .image * {
    height: calc(100% - 400px);
    max-height: 450px; }

#spinner {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex; }
  #spinner .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto; }
  #spinner .double-bounce1, #spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out; }
  #spinner .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
